<configuration
  xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <coveoPostItemProcessingPipeline>
        <!-- HTML Content Processor to get the HTML body of the pages. Uncomment if not already include in your config. -->
        <!--<processor type="Coveo.SearchProvider.Processors.HtmlContentInBodyWithRequestsProcessor, Coveo.SearchProviderBase" />-->
        <!-- CreateSecuredItemPreviewProcessor configuration. -->
        <processor type="CreateSecuredItemPreview.CreateSecuredItemPreviewProcessor, CreateSecuredItemPreview">
          <RemoveFieldsID>{392DE296-0825-4BD3-8724-1CF8DD416813}</RemoveFieldsID>
          <RemovePreviewID>{4224040F-1AED-4058-A3FE-6875260123A3}</RemovePreviewID>
          <LimitedItemSuffix>duplica</LimitedItemSuffix>
        </processor>
      </coveoPostItemProcessingPipeline>
    </pipelines>
    <coveo>
      <defaultIndexConfiguration>
        <fieldMap>
          <fieldNames hint="raw:AddFieldByFieldName">
            <!-- Fields required to run the CreateSecuredItemPreviewProcesso.r -->
            <fieldType fieldName="Item Is A Copy" isExternal="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="Remove Fields" isExternal="true"  isDisplayField="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="Enable Search In Removed Fields" isExternal="true" isDisplayField="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="Remove Preview" isExternal="true" isDisplayField="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="Enable Search In Removed Preview" isExternal="true" isDisplayField="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="Removed Fields Content" includeForFreeTextSearch="true" isDisplayField="false" isExternal="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="Removed Fields Name" isExternal="true" isDisplayField="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
          </fieldNames>
        </fieldMap>
        <!-- Configure form authentication for HTML Content Processor. -->
        <formsAuthConfiguration type="Coveo.Framework.Configuration.FormsAuthConfiguration, Coveo.Framework">
          <formsAuthLoginPage>http://launchsitecore.local/sitecore/login</formsAuthLoginPage>
          <formsAuthUserControl>Admin</formsAuthUserControl>
          <formsAuthPasswordControl>b</formsAuthPasswordControl>
          <formsAuthLoginCommand>ctl08=Log+in</formsAuthLoginCommand>
        </formsAuthConfiguration>
      </defaultIndexConfiguration>
    </coveo>
    <!-- Handler to manage the rare case of a specific version being deleted. -->
    <event name="item:deleted">
      <handler type="CreateSecuredItemPreview.CreateSecuredItemPreviewProcessor, CreateSecuredItemPreview" method="OnItemDeleted" />
    </event>
  </sitecore>
</configuration>