<configuration
  xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <coveoPostItemProcessingPipeline>
        <!-- HTML Content Processor to get the html body of the pages -->
        <processor type="Coveo.SearchProvider.Processors.HtmlContentInBodyWithRequestsProcessor, Coveo.SearchProviderBase" />
        <!-- CreateSecuredItemPreviewProcessor configuration -->
        <processor type="CreateSecuredItemPreview.CreateSecuredItemPreviewProcessor, CreateSecuredItemPreview">
          <ActivateFieldRemoverID>{368F3EAE-6665-425B-A19B-3477903B0E42}</ActivateFieldRemoverID>
          <ActivatePreviewRemoverID>{F02284DD-EE6D-440F-A474-7D2080479A39}</ActivatePreviewRemoverID>
          <LimitedItemSuffix>duplica</LimitedItemSuffix>
        </processor>
      </coveoPostItemProcessingPipeline>
    </pipelines>
    <coveo>
      <defaultIndexConfiguration>
        <fieldMap>
          <fieldNames hint="raw:AddFieldByFieldName">
            <!-- Fields required to run the CreateSecuredItemPreviewProcessor -->
            <fieldType fieldName="ItemIsACopy" isExternal="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="ActivateFieldRemover" isExternal="true"  isDisplayField="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="ActivateRemovedFieldSearch" isExternal="true" isDisplayField="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="ActivatePreviewRemover" isExternal="true" isDisplayField="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="ActivateRemovedPreviewSearch" isExternal="true" isDisplayField="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="RemovedFieldContent" includeForFreeTextSearch="true" isDisplayField="false" isExternal="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="FieldsToHide" isExternal="true" isDisplayField="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
          </fieldNames>
        </fieldMap>
        <!-- Configure form authentication for HTML Content Processor -->
        <formsAuthConfiguration type="Coveo.Framework.Configuration.FormsAuthConfiguration, Coveo.Framework">
          <formsAuthLoginPage>http://launchsitecore.local/sitecore/login</formsAuthLoginPage>
          <formsAuthUserControl>Admin</formsAuthUserControl>
          <formsAuthPasswordControl>b</formsAuthPasswordControl>
          <formsAuthLoginCommand>ctl08=Log+in</formsAuthLoginCommand>
        </formsAuthConfiguration>
      </defaultIndexConfiguration>
    </coveo>
    <!-- Handler to manage the rare case of a specific version being deleted -->
    <event name="item:deleted">
      <handler type="CreateSecuredItemPreview.CreateSecuredItemPreviewProcessor, CreateSecuredItemPreview" method="OnItemDeleted" />
    </event>
  </sitecore>
</configuration>